#header {
    background-color:black;
    color:palevioletred;
    height:100px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
body {
    background-color: palevioletred;
}
#menu {
    float: right;
    list-style: none;
    margin: 10 10 30 30;
}
li {
    float: left;
    padding: 20 20 30 30;
}
li:hover {
    background-color:whitesmoke;
}